@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~@angular/material/theming";

body {
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: mat-color($mat-indigo, 900); /*  */
}
html, body { height: 100%; }

table.mat-table {
  width: 100%;
  font-size: 20px;
}

.mat-card-content {
  width: 100%;
  font-size: 20px;
}

th, td {
  min-width: 25px;
  margin-right: 50px;
}

ng-container {
  width: 1px;
}

