<mat-card>
  <mat-card-header>
    <mat-card-title>Projekty</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <table mat-table [dataSource]="projects">
      <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef>Numer</th>
        <td mat-cell *matCellDef="let element">{{element.id}}</td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nazwa</th>
        <td mat-cell *matCellDef="let element"><a [routerLink]="['/project', element.id]">{{element.name}}</a></td>
      </ng-container>
      <ng-container matColumnDef="deadline">
        <th mat-header-cell *matHeaderCellDef>Data</th>
        <td mat-cell *matCellDef="let element">{{element.deadline}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderCellDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card-content>
</mat-card>
