<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <h2 class="mat-title">Toci Berserk</h2>
    <mat-list>
      <mat-list-item><a routerLink="/" mat-button>Menu</a></mat-list-item>
      <mat-list-item><a routerLink="/products" mat-button>Stan Magazynu</a></mat-list-item>
      <mat-list-item><a routerLink="/add-product" mat-button>Dodaj nowy produkt</a></mat-list-item>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Zamówienia</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-option routerLink="/orders" >Wszystkie Zamówienia</mat-option>
        <mat-option routerLink="/orders-history" >Historyczne Zamówienia</mat-option>
        <mat-option routerLink="/new-order">Nowe zamówienie</mat-option>
        <mat-option routerLink="/new-order-by-company">Nowe zamówienie(firmy)</mat-option>
      </mat-expansion-panel>
    </mat-list>

    <mat-list>
      <mat-list-item>
        <a mat-raised-button color="primary" routerLink="/login">Wyloguj</a></mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-card>
      <router-outlet></router-outlet>
    </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>
