<mat-card>
  <form [formGroup]="formOrder">
    <mat-card-header>
      <mat-card-title>Nowe Zamówienie</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button type="submit" mat-raised-button color="primary" (click)="deleteProduct(element)">Usuń</button>
          </td>
        </ng-container>
        <ng-container matColumnDef="productId">
          <th mat-header-cell *matHeaderCellDef>Id produktu</th>
          <td mat-cell *matCellDef="let element">{{element.productId}}</td>
        </ng-container>
        <ng-container matColumnDef="productName">
          <th mat-header-cell *matHeaderCellDef>Nazwa produktu</th>
          <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
        </ng-container>
        <ng-container matColumnDef="currentQuantity">
          <th mat-header-cell *matHeaderCellDef>Ilość na stanie</th>
          <td mat-cell *matCellDef="let element"> {{element.currentQuantity}} </td>
        </ng-container>
        <ng-container matColumnDef="expectedOrderQuantity">
          <th mat-header-cell *matHeaderCellDef>Spodziewana ilość</th>
          <td mat-cell *matCellDef="let element">
            <mat-form-field>
              <input matInput type="number" value="{{element.expectedOrderQuantity}}" formControlName="expectedQuantity{{element.productId}}" />
            </mat-form-field>
          </td>
        </ng-container>

        <ng-container matColumnDef="deliveryCompany">
          <th mat-header-cell *matHeaderCellDef>Firma dowożąca</th>
          <td mat-cell *matCellDef="let element"> {{element.deliveryCompany}} </td>
        </ng-container>
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef>Cena</th>
          <td mat-cell *matCellDef="let element"> {{element.price}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedOrderColumns"> </tr>
        <tr mat-row *matRowDef="let row; columns: displayedOrderColumns;"></tr>
      </table>

      <mat-card-actions>
        <button type="submit" mat-raised-button color="primary" (click)="onSubmit()">Zatwierdź</button>
      </mat-card-actions>
    </mat-card-content>
  </form>

  <form [formGroup]="formSearch" (ngSubmit)="onSearchInput()">
    <mat-card-header>
      <mat-card-title>Znajdź produkt</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <input matInput type="text" formControlName="searchQuery" placeholder="Podaj produkt" (input)="onSearchInput()" />
      </mat-form-field>

      <table mat-table [dataSource]="products" class="mat-elevation-z8">
        <ng-container matColumnDef="add">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button type="submit" mat-raised-button color="primary" (click)="addProductToOrder(element)">Dodaj</button>
            <input mdInput type="number" formControlName="expectedQuantity{{element.idproducts}}"/>
          </td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Nazwa produktu</th>
          <td mat-cell *matCellDef="let element">{{element.name}}</td>
        </ng-container>
        <ng-container matColumnDef="reference">
          <th mat-header-cell *matHeaderCellDef>Referencja</th>
          <td mat-cell *matCellDef="let element">{{element.reference}}</td>
        </ng-container>
        <ng-container matColumnDef="manufacturer">
          <th mat-header-cell *matHeaderCellDef>Producent</th>
          <td mat-cell *matCellDef="let element">{{element.manufacturer}}</td>
        </ng-container>
        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef>Kod produktu</th>
          <td mat-cell *matCellDef="let element">{{element.code}}</td>
        </ng-container>
        <ng-container matColumnDef="companyName">
          <th mat-header-cell *matHeaderCellDef>Firma dowożąca</th>
          <td mat-cell *matCellDef="let element">{{element.companyname}}</td>
        </ng-container>
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef>Cena</th>
          <td mat-cell *matCellDef="let element">{{element.price}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedProductColumns"> </tr>
        <tr mat-row *matRowDef="let row; columns: displayedProductColumns;"></tr>
      </table>
    </mat-card-content>
  </form>
</mat-card>


