<mat-card>
<form [formGroup]="formOrder" (ngSubmit)="onSubmit()">
    <mat-card-header>
      <mat-card-title>Nowe Zamówienie</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table mat-table [dataSource]="orders" class="mat-elevation-z8">
        <ng-container matColumnDef="productId">
          <th mat-header-cell *matHeaderCellDef>Id produktu</th>
          <td mat-cell *matCellDef="let element">{{element.productid}}</td>
        </ng-container>
        <ng-container matColumnDef="productName">
          <th mat-header-cell *matHeaderCellDef>Nazwa produktu</th>
          <td mat-cell *matCellDef="let element"> {{element.productname}} </td>
        </ng-container>
        <ng-container matColumnDef="currentQuantity">
          <th mat-header-cell *matHeaderCellDef>Ilość</th>
          <td mat-cell *matCellDef="let element"> {{element.currentquantity}} </td>
        </ng-container>
        <ng-container matColumnDef="expectedOrderQuantity">
          <th mat-header-cell *matHeaderCellDef>Spodziewana ilość</th>
          <td mat-cell *matCellDef="let element">
            <mat-form-field>
              <input matInput type="text" value="{{element.expectedorderquantity}}" formControlName="expectedQuantity{{element.productid}}">
            </mat-form-field>
          </td>
        </ng-container>

        <ng-container matColumnDef="deliveryCompany">
          <th mat-header-cell *matHeaderCellDef>Firma dowożąca</th>
          <td mat-cell *matCellDef="let element"> {{element.deliverycompany}} </td>
        </ng-container>
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef>Cena</th>
          <td mat-cell *matCellDef="let element"> {{element.price}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedOrderColumns"> </tr>
        <tr mat-row *matRowDef="let row; columns: displayedOrderColumns;"></tr>
      </table>

      <mat-card-actions>
        <button type="submit" mat-raised-button color="primary">Zatwierdź</button>
      </mat-card-actions>
    </mat-card-content>
  </form>

  <form [formGroup]="formSearch" (ngSubmit)="onInput()">
    <mat-card-header>
      <mat-card-title>Znajdź produkt</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <input matInput type="text" formControlName="searchQuery" placeholder="Podaj produkt" (input)="onInput()">
      </mat-form-field>
      <!-- <mat-card-actions>
        <button type="submit" mat-raised-button color="primary">Znajdź produkty</button>
      </mat-card-actions> -->

      <table mat-table [dataSource]="products" class="mat-elevation-z8">
        <ng-container matColumnDef="canAdd">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button type="submit" mat-raised-button color="primary" (click)="click(element)">Dodaj</button>
          </td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Nazwa produktu</th>
          <td mat-cell *matCellDef="let element">{{element.name}}</td>
        </ng-container>
        <ng-container matColumnDef="reference">
          <th mat-header-cell *matHeaderCellDef>Referencja</th>
          <td mat-cell *matCellDef="let element">{{element.reference}}</td>
        </ng-container>
        <ng-container matColumnDef="manufacturer">
          <th mat-header-cell *matHeaderCellDef>Producent</th>
          <td mat-cell *matCellDef="let element">{{element.manufacturer}}</td>
        </ng-container>
        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef>Kod produktu</th>
          <td mat-cell *matCellDef="let element">{{element.code}}</td>
        </ng-container>
        <ng-container matColumnDef="companyName">
          <th mat-header-cell *matHeaderCellDef>Firma dowożąca</th>
          <td mat-cell *matCellDef="let element">{{element.companyname}}</td>
        </ng-container>
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef>Cena</th>
          <td mat-cell *matCellDef="let element">{{element.price}}</td>
        </ng-container>
        <!-- <ng-container matColumnDef="deliveryCompany">
          <th mat-header-cell *matHeaderCellDef>Firma dowożąca <-- niepotrzebne </th>
          <td mat-cell *matCellDef="let element">{{element.companiesPerProduct.companyName}}</td>
        </ng-container> -->

        <tr mat-header-row *matHeaderRowDef="displayedProductColumns"> </tr>
        <tr mat-row *matRowDef="let row; columns: displayedProductColumns;"></tr>
      </table>
    </mat-card-content>
  </form>
</mat-card>


