<form [formGroup]="formOrder" (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Nowe Zamówienie</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table mat-table [dataSource]="orders" class="mat-elevation-z8">
        <ng-container matColumnDef="productId">
          <th mat-header-cell *matHeaderCellDef>Id produktu</th>
          <td mat-cell *matCellDef="let element">{{element.productId}}</td>
        </ng-container>
        <ng-container matColumnDef="productName">
          <th mat-header-cell *matHeaderCellDef>Nazwa produktu</th>
          <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
        </ng-container>
        <ng-container matColumnDef="currentQuantity">
          <th mat-header-cell *matHeaderCellDef>Ilość</th>
          <td mat-cell *matCellDef="let element"> {{element.currentQuantity}} </td>
        </ng-container>
        <ng-container matColumnDef="expectedOrderQuantity">
          <th mat-header-cell *matHeaderCellDef>Spodziewana ilość</th>
          <td mat-cell *matCellDef="let element">
            <mat-form-field>
              <input [formGroup]="formOrder" matInput type="text" value="{{element.expectedOrderQuantity}}" name="expectedQuantity{{element.productId}}">
            </mat-form-field>
          </td>
        </ng-container>
        <ng-container matColumnDef="deliveryCompany">
          <th mat-header-cell *matHeaderCellDef>Firma dowożąca</th>
          <td mat-cell *matCellDef="let element"> {{element.deliveryCompany}} </td>
        </ng-container>
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef>Cena</th>
          <td mat-cell *matCellDef="let element"> {{element.price}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"> </tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-card-actions>
        <button type="submit" mat-raised-button color="primary">Zatwierdź</button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</form>
