<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h3 class="display-4">Add Product</h3>
    <p class="lead">By company</p>
  </div>
</div>

<form #form="ngForm" id="contact-form" role="form">
  <div class="controls">

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="form_name">Company Name</label>

          <input id="form_name" type="text" name="name" class="form-control" placeholder="Please enter Company Name"
            required="required" [(ngModel)]="deliveryName" data-error="Name is required."
            (keyup)="searchDeliveriesByCharacters(form)" />

        </div>
      </div>
    </div>
    <div>
      <div class="row alert alert-primary"
            *ngFor="let item of foundedCompanies | keyvalue; let idx = index"
            (click)="findProductsForCompany(idx)">

            {{ item.value }}

      </div>
    </div>
    <div>
      <div class="row alert alert-primary">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">productCode</th>
              <th scope="col">productName</th>
              <th scope="col">quantity</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of foundedProducts; let i = index">
              <th scope="row">
                <button type="button" class="btn btn-warning" (click)="addProduct(i)">
                  Add
                </button>
              </th>
              <td>{{ item.productCode }}</td>
              <td>{{ item.productName }}</td>
              <td>{{ item.quantity }}</td>
            </tr>
          </tbody>
        </table>


      </div>
    </div>

  </div>
</form>